<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <title>Playstation El-Gam3a</title>

    
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    
   <script>
     window.$ = window.jQuery = require('./jquery-3.2.1.min.js')

 
    </script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    
    
    
<link rel="stylesheet" href="./main.css">
<!-- jQuery library -->


<!-- Latest compiled JavaScript -->

    <script src="./angular.min.js"></script>

    <script src="./controller.js"></script>
    <base href="./">
<!--<script src="./roundProgress.min.js"></script>-->
 
<script src="./countdown.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.min.js"></script>

</head>
<body ng-app="myApp">
    <div class="container" ng-controller="myController">
    <h1 align="center" >PlayStation El-Gam3a</h1>
    <ul class="nav nav-tabs" >
      <li  class="active" ><a  data-toggle="tab" href="#home">Home</a></li>
      <li ><a   data-toggle="tab" href="#profit" >Profit</a></li>
      <li ><a   data-toggle="tab" href="#admin">Admin</a></li>
    </ul>
        
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
        <div class="container" align="center" >

                <h1 >Press Add to add new Client ! </h1>

                 <table class="table" id="table">
                   
            <thead>
              <tr>
                <th>Client Id</th>  
                <th>Hours</th>
                <th>Playstation X</th>
                <th>Start Period</th>
                <th align="center">Time Remaning</th>
                <th>Price</th>
                <th>Start Time & Date</th>
                <th>Close</th>
              </tr>
            </thead>
            <tbody class="well" >
              <tr ng-repeat="client in clients" ng-hide="hideRow" class="showRow"  >
                  
                
                <td> {{client.clientId}}</td>
                  <td> 

                      <select class="form-control" id="sel1"  ng-model="client.timeSelected" ng-change="changeTime(client.timeSelected.name)" ng-options="TimeCat as TimeCat.name for TimeCat in client.timeCats">

                      </select>

                  </td>
                  <td>

                      <select class="form-control" id="sel2" ng-model="client.consoleSelected"   ng-change="changeConsole(client.consoleSelected.name)" ng-options="consolesCat as consolesCat.name for consolesCat in client.consolesCat" >



                      </select>

                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" aria-label="right Align" ng-click="timerStart(client.clientId)">
                        <span class="glyphicon glyphicon-play" aria-hidden="true" ng-model="startBut"></span>  Start</button>
                  </td>
                <td>
                     <div id="del-countdown">
                    <div class="time">     
                      <div ng-attr-id="{{client.clientId}}" class="clock"></div>
                      <div id="units">
                        <span>Days</span>
                        <span>Hours</span>
                        <span>Minutes</span>
                        <span>Seconds</span>
                      </div>
                    </div>
                    </div>
                  
                       <button type="button" class="btn btn-primary" ng-Click="stopTimer(client.clientId)" ng-if="client.isOpen" align="center" >finish</button>
                  </td>



                  <td>
                   <div >
                        <h4 id="Price" ng-model="client.price">{{client.price}}</h4>     
                    </div>
                  </td>
                   <td>    
                       <!-- <h4 id="startTime" ng-model="client.startTime">{{client.startTime}}</h4>-->
                      <h4> <span>Time</span>
                           <span style="margin-left:3em">Date</span>
                      <br>
                       <span>{{client.startTime.format("HH:mm:ss")}}</span>
                       <span style="margin-left:1em">{{client.startTime.format("DD-MM-YYYY")}}</span></h4>
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger" ng-model="closeBut" ng-click="hideRow=true">X</button></td>
              
              
            </tr>
            
            </tbody>
          </table>
         <button type="button" class="btn btn-primary" ng-click="addClient()" ng-click="addRow=true" >Add Client</button>
         
         
    </div>
        
        
      </div>
        <div id="profit" class="tab-pane fade">
             <table class="table table-hover" ng-model="table2" id="sheetjs">
                 <thead>
                     <th>Date</th>
                     <th>Time</th>
                     <th>Time Spent</th>
                     <th>Price</th>
                     <th>Total Price</th>
                 </thead>
                 <tr ng-repeat="client in clients">
                    <td ng-model="client.startTime">{{client.startTime.format("DD-MM-YYYY")}}</td>
                    <td ng-model="client.startTime">{{client.startTime.format("HH:mm")}}</td>
                    <td ng-model="client.timeCat">{{client.timeSelected.name}}</td>
                    <td ng-model="client.price">{{client.price}}</td>
                 </tr>
            
            </table>
            <button ng-click="saveExcel()" class="btn btn-primary">Save to Excel</button>
        </div>
         <div id="admin" class="tab-pane fade">
            <h1>THIS IS THE ADMIN PAGE !!!</h1>
        </div>
    </div>
</div>
</body>
 
    
</html>