        .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}




.nav-tabs, .nav-pills {
    text-align:center;
}
 
#navbar-primary .navbar-nav { 
//  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
   



table#table{
  border-collapse: separate;
  border-spacing: 0 2em;
  border: 1px solid #ddd;
  
   
}
 td {
  border-bottom: 1px solid #ddd;
 
  
}
.btn-primary ,  .btn-primary:active, .btn-primary:visited{
  background-color: #2b2a2a !important
}
.btn-primary:hover 
{
  background-color: #585858 !important
}





h1 {
    color: rgb(125, 129, 141)
}

.glyphicon-play {
    float:right;
    overflow: hidden;
}


#del-countdown{
  width: 300px;
  margin: 15% auto;
}
.clock span{
  float: left;
  text-align: center;
  font-size: 50px;
  margin: 0 1.5%;
  color: #fff;
  padding: 10px;
  width: 22%;
  border-radius: 20px;
  box-sizing: border-box;
}
.clock span:nth-child(1){
  background: #403e41;
}
.clock span:nth-child(2){
  background: #403e41;
}
.clock span:nth-child(3){
  background: #403e41;
}
.clock span:nth-child(4){
  background: #403e41;
}
.clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

span.turn{
  animation: turn 0.7s ease forwards;
}

.showRow {

  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}


.showRow.ng-move,
.showRow.ng-enter,
.showRow.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.showRow.ng-leave.ng-leave-active,
.showRow.ng-move,
.showRow.ng-enter {
    opacity:0;
    max-height:0;
}

.showRow.ng-leave,
.showRow.ng-move.ng-move-active,
.showRow.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}

/**
 * Stagger Leave (hide) animation
 */
.showRow.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.showRow.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}